html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.7;
  background-color: #313233;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section h2 {
  font-family: 'Roboto Slab', serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

body a.ph-btn {
  padding: 8px 30px;
  background-color: #000000;
  color: #fff;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  position: relative;

  &:after {
    content: "";
    top: 50%;
    left: 50%;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    position: absolute;
    transition: all .5s;
  }

  &:hover {
    &:after {
      height: 100%;
      width: 100%;
    }
  }
}

/* section default stats */

.ph-section {
  &__head {
    h2 {
      margin-bottom: 25px;
      font-size: 46px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
    display: block;
    font-size: 22px;
  }

  &__padding-lg {
    &--t {
      padding-top: 120px;
    }

    &--b {
      padding-bottom: 120px;
    }

    &--tb {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &__padding-md {
    &--t {
      padding-top: 90px;
    }

    &--b {
      padding-bottom: 90px;
    }

    &--tb {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }

  &__padding-sm {
    &--t {
      padding-top: 60px;
    }

    &--b {
      padding-bottom: 60px;
    }

    &--tb {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}


/* section default stats */

/* input ends */
.ph-input-wrapper {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  background-color: #e2e2e2;
  border: 0;
  outline: none;
  padding: 8px 15px;
}

input {
  height: 45px;
}

input[type="submit"] {
  max-width: 150px;
}

textarea {
  height: 150px;
  resize: none;
}

form .ph-half {
  display: flex;
  justify-content: space-between;
}

.ph-half .ph-input-wrapper {
  width: calc(50% - 15px);
}


/* input ends */
/* header__fixed ends */
.header_fixed.ph-header {
  background-color: #1C1C1D;
  z-index: 98;
  position: fixed;
  width: 100%;
  margin: 0;
  top: -70px;
  left: 0;
  border-radius: 0;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease,
    -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  z-index: 99;
}

// height 32
.admin-bar .header_fixed.ph-header {
  top: -38px;
}

/* header__fixed ends */

.ph-header .ham-menu {
  display: none;
}

.ph-header .ham-menu__ham-line {
  background-color: #000;
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ph-header .ham-menu__ham-line:last-of-type {
  margin-bottom: 0;
}

section:nth-child(2n+1),
footer {
  background-color: #1C1C1D;
}

.ph-header {
  padding: 15px;

  &__wrapper {
    justify-content: space-between;
  }

  &__menu {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;

    a {
      padding: 8px 15px;
      transition: all .5s;

      &:hover {}
    }
  }
}

.ph-homepage {
  position: relative;

  .icon-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0, 0, 0, rgba(255, 255, 255, 0.4);
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 2;
  }
}

.ph-banner {
  &__item {
    position: relative;

    &--img {
      img {
        min-height: 750px;
        max-height: 100vh;
        object-fit: cover;
      }
    }

    &--content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--details {
      max-width: 550px;
    }
  }
}

.ph-icon {
  font-size: 80px;
}

.ph-about {

  &__points {
    &--item {
      display: flex;
      gap: 30px;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }

  &__img {
    max-width: 450px;
    height: 100%;
    margin: auto;
    position: relative;

    img {
      position: sticky;
      top: 30px;
    }
  }
}

button:focus {
  outline: none;
}

.nav-tabs {
  border: 0;

  .nav-link {
    background: none;
    color: #fff !important;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    position: relative;
    border: 0;

    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      transition: all .5s;
      background-color: #ED2222;
      height: 4px;
      width: 30px;
      opacity: 0;

      border-radius: 5px;
    }

    &.active {
      background: none;
      border: 0;

      &:after {
        opacity: 1;
        bottom: 0;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        bottom: 0;
      }
    }
  }
}

.ph-gallery {

  &__container {
    column-count: 5;

    &--item {
      display: grid;
      grid-template-rows: 1fr auto;
      break-inside: avoid;
      margin-bottom: 20px;
      text-align: center;

      &>img {
        width: 100%;
        height: 100%;
        max-height: 350px;
        object-fit: contain;
      }

      &:last-of-type {
        img {

          object-fit: cover;
        }
      }
    }
  }
}

.ph-team {
  &__item {
    position: relative;
  }

  &__social {
    position: absolute;
    right: 6px;
    bottom: 6px;
    display: flex;
    flex-direction: column-reverse;

    &--trigger {
      margin-top: 6px;

      span {
        transform: rotate(-45deg);
        transition: all .5s;
      }

      &.active {
        span {
          transform: unset;
        }

        ~ul {

          a {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
          }
        }
      }
    }

    a {
      height: 46px;
      width: 46px;
      background-color: #313233;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .5s;
      font-size: 22px;

      &:hover {
        background-color: #1C1C1D;
      }

    }

    ul {
      display: grid;
      gap: 6px;

      a {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4px);
      }
    }

  }

}

@media screen and (min-width:992px) {
  .ph-header__menu ul {
    display: flex !important;
    gap: 6px;
  }
}

@media screen and (max-width: 991px) {
  .ham-menu.active .ham-menu__ham-line {
    background-color: #000;
  }

  .ph-header .ham-menu {
    display: block;
    position: absolute;
    top: 55px;
    right: 55px;
    z-index: 99;
    cursor: pointer;
    height: 30px;
    width: 30px;
    z-index: 2;
  }

  .ham-menu.active span:first-of-type {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 12px;
    height: 4px;
  }

  .ham-menu.active span:nth-of-type(2) {
    display: none;
  }

  .ham-menu.active span:last-of-type {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -8px;
    height: 4px;
  }

  .ph-header__menu ul {
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
  }

  .header_fixed .ph-header__menu ul {
    background-color: #fcfcfc;
  }



  form .ph-half {
    display: block;
  }

  .ph-half .ph-input-wrapper {
    width: 100%;
  }
}